/*General*/
html {
	box-sizing: border-box;
	font-weight: 400;
}

*, *:before, *:after {
	box-sizing: inherit;
	font-weight: inherit;
}

body {
	margin: 0;
	font-family: 'Roboto';
	background-color: #aaa;
}

a {
	display: inline;
	text-decoration: none;
	color: #000;
	font-weight: 700;
}

a:hover {
	text-decoration: underline;
}

a.external:after {
	content: "~";
	color: #aaa;
}

.neutral-link {
	text-decoration: none;
	font-weight: 400;
}

.neutral-link:hover {
	font-weight: 400;
}

/*Divisions*/
#body,
#footer,
#header,
#title {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
}

#body {
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	line-height: 26px;
}

#footer {
	margin-bottom: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header {
	position: relative;
	padding: 0;
	height: 450px;
	margin-top: 100px;
}

#title {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 1px;
}

/*Text*/
.text {
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 18px;
}

.title {
	font-size: 36px;
	padding-left: 50px;
	padding-right: 50px;
}

.subtitle {
	font-size: 34px;
	padding-left: 50px;
	padding-right: 50px;
}

.small-divider {
	width: 100%;
	background-color: #aaa;
	height: 1px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 50px;
	padding-right: 50px;
}

.header-image {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.header-title-container {
	position: absolute;
	left: 20px;
	bottom: 20px;
	font-size: 28px;
}

.header-title {
	font-size: 28px;
}

.condensed-list, .spacious-list {
	padding: 0;
	margin: 0;
	padding-left: 50px;
	padding-right: 50px;
	width: 100%;
	list-style-type: none;
	margin-top: 30px;
	margin-bottom: 30px;
}

.condensed-list li {
	display: inline-block;
	width: 30.5%;
	margin-bottom: 12px;
	margin-right: 20px;
	padding-left: 15px;
	background-color: #f2f2f2;
	border-left: solid 1px #000;
}

.spacious-list li {
	vertical-align: top;
	display: inline-block;
	width: 47.5%;
	margin-bottom: 12px;
	padding-left: 15px;
	margin-right: 20px;
	border-left: solid 1px #000;
	background-color: #f2f2f2;
}

.text-image {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.note,
.quote {
	margin-left: 50px;
	margin-right: 50px;
	width: calc(100% - 100px);
	padding: 15px;
	background-color: #f2f2f2;
}

.note {
	font-family: "Roboto Mono";
	font-size: 14px;
}

.quote {
	font-size: 18px;
	font-style: italic;
	border-left: solid 1px #000;
}